* {
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
}


.hero-container {
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
}

.hero {
    position: relative;
    height: 100%;
    background-image: url('https://images.contentstack.io/v3/assets/bltb6530b271fddd0b1/blt09869f2f690f132b/5fd17732bed5bf30e30c5a04/VALORANT_phx_jett_2_galleryiamge.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -1;
}

#landing-container {
    position: absolute;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.h1-container {
    position: absolute;
    top: 30vh;
    text-align: center;
}

h1 {
    font-size: 3rem;
}

.landing-button {
    position: relative;
    border: none;
    border-radius: 2rem;
    background-color: rgb(215, 25, 25);
    width: 10rem;
    height: 4rem;
    z-index: 1;
    margin: .5rem;
}

.landing-button:hover {
    box-shadow: 0 0 1rem .5rem rgba(200, 200, 200, 0.9);
    transition: all 0.5s ease;
    cursor: pointer;
}

p {
    font-size: 2rem;
    letter-spacing: .05rem;
    font-weight: bold;
}

#weapon-container {
    position: absolute;
    height: 85vh;
    width: 90vw;
    left: 0;
    right: 0;
    margin: 5vh auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.weapon-container-header {
    background-color: rgba(200, 200, 200, 0.9);
    border-radius: 1rem;
    height: fit-content;
    padding: 1rem;
    display: flex;
    justify-content: center;
}

#specific-weapon-container {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 85vh;
    width: 90vw;
    left: 0;
    right: 0;
    margin: 5vh auto;
}

.skin-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    overflow-y: auto;
    margin-top: 1rem;
}

.chroma-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-y: auto;
    margin-top: 1rem;
}

.weapon-name-container {
    background-color: rgba(200, 200, 200, 0.9);
    border-radius: 1rem;
    height: fit-content;
    padding: 1rem;
    display: flex;
    justify-content: center;
    text-align: center;
}

h1 {
    color: white
}
.weapon-image-container {
    background-color: rgba(200, 200, 200, 0.9);
    border-radius: 1rem;
    margin: .5rem;
    width: 40vw;
    height: 10vh;
    display: flex;
    justify-content: center;
    flex-basis: calc(100% / 2 - 3rem);
}

.weapon-image-container:hover {
    cursor: pointer;
}

.weapon-image {
    width: 95%;
    object-fit: contain;
    padding: 0.5rem 1rem;
}

#specific-skin-container {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 85vh;
    width: 90vw;
    left: 0;
    right: 0;
    margin: 5vh auto;
}

#specific-chroma-container {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 85vh;
    width: 90vw;
    left: 0;
    right: 0;
    margin: 5vh auto;
}

.skin-full-image-container {
    background-color: rgba(200, 200, 200, 0.9);
    border-radius: 1rem;
    margin: .5rem;
    width: 60vw;
    height: 10vh;
    display: flex;
    justify-content: center;
}

.video-container {
    background-color: rgba(200, 200, 200, 0.9);
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem 0rem;
    padding: 1rem;
    width: 80vw;
    max-height: 70vh;
}

.chroma-video {
    width: 100%;
    max-height: 100%;
}

#mobile-footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: rgb(0, 0, 0);
    height: 7%;
}

#footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.icon-container {
    padding: 1rem;
}

.hidden {
    display: none !important;
}

.fa-lg {
    color: rgb(215, 25, 25);
}

